<div class="sheet-inventory-row-{{num}}">
  <div class="sheet-shaped-row">
    <div class="sheet-col-05 sheet-vert-middle sheet-inventory-row-number">
      {{num}}
    </div>
    <div class="sheet-col-05 sheet-center sheet-vert-middle">
      <input type="hidden" name="attr_repeating_inventory_{{num}}_carried_var" value="@{repeating_inventory_{{num}}_weight}} (@{repeating_inventory_{{num}}_qty} - 1) * @{repeating_inventory_{{num}}_carried}">
      <input type="checkbox" name="attr_repeating_inventory_{{num}}_carried" value="@{repeating_inventory_{{num}}_carried_var}" checked>
    </div>
    <div class="sheet-col-05 sheet-pad-r-sm">
      <input type="number" name="attr_repeating_inventory_{{num}}_qty" value="1" min="0" step="1">
    </div>
    <div class="sheet-col-30 sheet-pad-r-sm">
      <input type="text" name="attr_repeating_inventory_{{num}}_name">
    </div>
    <div class="sheet-col-06 sheet-pad-r-sm">
      <input type="number" name="attr_repeating_inventory_{{num}}_weight" value="0" step="0.01">
    </div>
    <div class="sheet-col-49 sheet-pad-r-sm">
      <input type="text" name="attr_repeating_inventory_{{num}}_description">
    </div>
  </div>
</div>