<div class="sheet-wrap-box sheet-relative sheet-mar-b-md sheet-mar-t-md">
  <div class="sheet-col-20 sheet-center sheet-vert-top">
    <input class="sheet-weapon-name sheet-center" type="text" name="attr_repeating_weapons_melee_{{num}}_name" placeholder="name">
  </div>
  <input type="hidden" name="attr_repeating_weapons_melee_{{num}}_var_damage" value="{{damage=[[0d0 + @{repeating_weapons_melee_{{num}}_dmg} + @{repeating_weapons_melee_{{num}}_dmg_total} + (@{global_weapon_damage_bonus}) + (@{global_melee_damage_bonus})]]}} {{damage_type=@{repeating_weapons_melee_{{num}}_dmg_type}}} {{crit_damage=[[0d0 + @{repeating_weapons_melee_{{num}}_dmg} + @{repeating_weapons_melee_{{num}}_bonus_crit_dmg}]]}}">
  <input type="hidden" name="attr_repeating_weapons_melee_{{num}}_var_alt_damage" value="{{alt_damage=[[0d0 + @{repeating_weapons_melee_{{num}}_alt_dmg} + @{repeating_weapons_melee_{{num}}_dmg_total} + (@{global_weapon_damage_bonus}) + (@{global_melee_damage_bonus})]]}} {{alt_damage_reason=@{repeating_weapons_melee_{{num}}_alt_dmg_reason}}} {{alt_crit_damage=[[0d0 + @{repeating_weapons_melee_{{num}}_alt_dmg}]]}}">
  <input type="hidden" name="attr_repeating_weapons_melee_{{num}}_var_second_damage" value="{{second_damage=[[0d0 + @{repeating_weapons_melee_{{num}}_second_dmg} + @{repeating_weapons_melee_{{num}}_second_dmg_bonus}]]}} {{second_damage_type=@{repeating_weapons_melee_{{num}}_second_dmg_type}}} {{second_crit_damage=[[0d0 + @{repeating_weapons_melee_{{num}}_second_dmg}]]}}">
  <input type="hidden" name="attr_repeating_weapons_melee_{{num}}_var_ammo" value="{{ammo=[[@{repeating_weapons_melee_{{num}}_ammo}-@{repeating_weapons_melee_{{num}}_toggle_ammo_auto}]]}} {{ammo_auto=@{repeating_weapons_melee_{{num}}_toggle_ammo_auto}}} {{ammo_field=repeating_weapons_melee_{{num}}_ammo}}">
  <input type="hidden" name="attr_repeating_weapons_melee_{{num}}_var_ammo_auto" value="1">

  <input type="checkbox" name="attr_repeating_weapons_melee_{{num}}_toggle_damage" class="sheet-toggle-damage" value="@{repeating_weapons_melee_{{num}}_var_damage}"><span class="sheet-toggle-damage">Dmg</span>
  <input type="checkbox" name="attr_repeating_weapons_melee_{{num}}_toggle_alt_damage" class="sheet-toggle-alt-damage sheet-mar-t-md" value="@{repeating_weapons_melee_{{num}}_var_alt_damage}"><span class="sheet-toggle-alt-damage sheet-mar-t-md">Alt</span>
  <input type="checkbox" name="attr_repeating_weapons_melee_{{num}}_toggle_second_damage" class="sheet-toggle-second-damage sheet-mar-t-md" value="@{repeating_weapons_melee_{{num}}_var_second_damage}"><span class="sheet-toggle-second-damage sheet-mar-t-md">Secondary</span>
  <input type="checkbox" name="attr_repeating_weapons_melee_{{num}}_toggle_ammo" class="sheet-toggle-ammo" value="@{repeating_weapons_melee_{{num}}_var_ammo}"><span class="sheet-toggle-ammo">Ammo</span>
  <input type="checkbox" name="attr_repeating_weapons_melee_{{num}}_toggle_ammo_auto" class="sheet-toggle-ammo-auto sheet-mar-t-md" value="@{repeating_weapons_melee_{{num}}_var_ammo_auto}"><span class="sheet-toggle-ammo-auto sheet-mar-t-md">Auto</span>

  <input type="hidden" name="attr_repeating_weapons_melee_{{num}}_macro_options" value="{{emote=@{repeating_weapons_melee_{{num}}_emote}}} {{attack=[[d20cs>@{repeating_weapons_melee_{{num}}_crit_range}@{d20_mod} + @{repeating_weapons_melee_{{num}}_to_hit} + (@{global_weapon_attack_bonus}) + (@{global_melee_attack_bonus})]]}} {{attack_adv=[[d20cs>@{repeating_weapons_melee_{{num}}_crit_range}@{d20_mod} + @{repeating_weapons_melee_{{num}}_to_hit} + (@{global_weapon_attack_bonus}) + (@{global_melee_attack_bonus})]]}} {{targetAC=@{attacks_vs_target_ac}}} {{targetName=@{attacks_vs_target_name}}} {{reach=@{repeating_weapons_melee_{{num}}_reach}}} {{range=@{repeating_weapons_melee_{{num}}_range}}} @{repeating_weapons_melee_{{num}}_toggle_ammo} @{repeating_weapons_melee_{{num}}_toggle_damage} @{repeating_weapons_melee_{{num}}_toggle_alt_damage} @{repeating_weapons_melee_{{num}}_toggle_second_damage}">

  <div class="sheet-action-button-group sheet-right">
    <div class="sheet-shaped-row">
      <div class="sheet-col sheet-center sheet-vert-middle">
        <button type="roll" name="roll_repeating_weapons_melee_{{num}}_weapon" value="@{output_option} &{template:5e} {{attack_roll=1}} {{character_name=@{character_name}}} @{show_character_name} {{title=@{repeating_weapons_melee_{{num}}_name}}} {{attack=1}} {{attack_type=Melee}} @{repeating_weapons_melee_{{num}}_macro_options} @{classactionmeleeweapon}">
          <span>Melee</span>
        </button>
      </div>
    </div>
  </div>
  <div class="sheet-center sheet-mar-t-sm">
    <textarea class="sheet-xs-textarea" name="attr_repeating_weapons_melee_{{num}}_emote"></textarea>
    <div class="sheet-small-label">Emote</div>
  </div>
  <div class="sheet-shaped-row sheet-mar-t-sm">
    <div class="sheet-col-03 sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-checkbox-row-height" type="checkbox" value="@{PB}" name="attr_repeating_weapons_melee_{{num}}_proficient" checked>
      <div class="sheet-small-label">Prof</div>
    </div>
    <div class="sheet-col-06 sheet-center sheet-vert-top sheet-pad-r-sm">
      <select name="attr_repeating_weapons_melee_{{num}}_attack_stat" class="sheet-select-no-arrow">
        <option value="@{finesse_mod}">Finesse</option>
        <option value="@{strength_mod}" selected>Str</option>
        <option value="@{dexterity_mod}">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wis</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
      <div class="sheet-small-label">Atk Stat</div>
    </div>
    <div class="sheet-col-04 sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_melee_{{num}}_attack_bonus" value="0">
      <div class="sheet-small-label">+Atk</div>
    </div>
    <div class="sheet-col-04 sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_melee_{{num}}_to_hit" value="@{repeating_weapons_melee_{{num}}_proficient} + @{repeating_weapons_melee_{{num}}_attack_stat} + @{repeating_weapons_melee_{{num}}_attack_bonus}" disabled="disabled">
      <div class="sheet-small-label">To Hit</div>
    </div>
    <div class="sheet-col-05 sheet-border-right sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_melee_{{num}}_reach">
      <div class="sheet-small-label">Reach</div>
    </div>

    <div class="sheet-col-08 sheet-border-right sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_melee_{{num}}_range">
      <div class="sheet-small-label">
        <span class="sheet-en">Range</span>
        <span class="sheet-de">Reichweite</span>
      </div>
    </div>
    <div class="sheet-col-06 sheet-toggle-range sheet-toggle-ammo sheet-border-right sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_melee_{{num}}_ammo" min="0" value="1">
      <div class="sheet-small-label">Ammo</div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_melee_{{num}}_dmg" value="0">
      <div class="sheet-small-label">Dmg Dice</div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-toggle-alt-damage sheet-border-left sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-md">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_melee_{{num}}_alt_dmg" value="0">
      <div class="sheet-small-label">Alt Dmg</div>
    </div>
    <div class="sheet-col-16 sheet-toggle-damage sheet-toggle-alt-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <textarea class="sheet-xs-textarea sheet-center" name="attr_repeating_weapons_melee_{{num}}_alt_dmg_reason"></textarea>
      <div class="sheet-small-label">Alt Dmg Reason</div>
    </div>
    <div class="sheet-col-06 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-r-sm">
      <select name="attr_repeating_weapons_melee_{{num}}_dmg_stat" class="sheet-select-no-arrow">
        <option value="0">None</option>
        <option value="@{finesse_mod}">Finesse</option>
        <option value="@{strength_mod}" selected>Str</option>
        <option value="@{dexterity_mod}">Dex</option>
        <option value="@{constitution_mod}">Con</option>
        <option value="@{intelligence_mod}">Int</option>
        <option value="@{wisdom_mod}">Wis</option>
        <option value="@{charisma_mod}">Cha</option>
      </select>
      <div class="sheet-small-label">Dmg Stat</div>
    </div>
    <div class="sheet-col-04 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_melee_{{num}}_dmg_bonus" value="0">
      <div class="sheet-small-label">+Dmg</div>
    </div>
    <div class="sheet-col-04 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_melee_{{num}}_dmg_total" value="@{repeating_weapons_melee_{{num}}_dmg_stat} + @{repeating_weapons_melee_{{num}}_dmg_bonus}" disabled="disabled">
      <div class="sheet-small-label">Dmg Mod</div>
    </div>
    <div class="sheet-col-10 sheet-toggle-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_melee_{{num}}_dmg_type">
      <div class="sheet-small-label">Dmg Type</div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-toggle-second-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_melee_{{num}}_second_dmg" value="0">
      <div class="sheet-small-label">2nd Dmg Dice</div>
    </div>
    <div class="sheet-col-04 sheet-toggle-damage sheet-toggle-second-damage sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_melee_{{num}}_second_dmg_bonus" value="0">
      <div class="sheet-small-label">2nd +Dmg</div>
    </div>
    <div class="sheet-col-10 sheet-toggle-damage sheet-toggle-second-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_melee_{{num}}_second_dmg_type">
      <div class="sheet-small-label">2nd Dmg Type</div>
    </div>
    <div class="sheet-col-07 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-l-sm">
      <input class="sheet-center" type="text" name="attr_repeating_weapons_melee_{{num}}_bonus_crit_dmg" value="0">
      <div class="sheet-small-label">Bonus Crit Dmg</div>
    </div>
    <div class="sheet-col-05 sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-l-sm">
      <input class="sheet-center" type="number" name="attr_repeating_weapons_melee_{{num}}_crit_range" value="20" step="1" min="1" max="20">
      <div class="sheet-small-label">Crit Range</div>
    </div>
  </div>
</div>
