<div class="sheet-toggle-spells-page-{{num}}">
  <div class="sheet-spell-header sheet-small-label sheet-vert-bottom sheet-center">
    <span class="sheet-en">{{level_num_readable}}</span>
    <span class="sheet-de">{{level_num_readable_de}}</span>
  </div>

  <input type="hidden" name="attr_spell_{{num}}_higher_level_query" value="{{higherLevelQuery}}">
  <input type="hidden" name="attr_spell_{{num}}_output_higher_lvl_query" value="{{spell_cast_as_level={{higherLevelQuery}}}}">

  <fieldset class="repeating_spell_{{level_num}}">
    <div class="sheet-wrap-box sheet-relative sheet-mar-b-md">
      <div class="sheet-col-25 sheet-vert-top sheet-pad-r-sm">
        <input type="text" class="sheet-spell-name" name="attr_spell_name" placeholder="name">
      </div>
      <input type="checkbox" name="attr_spellisprepared" class="sheet-toggle-spells-prep-con-rit-prepared{{hidden_if_cantrip}}"{{checked_if_cantrip}}><span class="sheet-toggle-spells-prep-con-rit-prepared{{hidden_if_cantrip}}">
        <span class="sheet-en">prepared</span>
        <span class="sheet-de">vorbereitete</span>
      </span>
      <input type="checkbox" name="attr_ritual" class="sheet-toggle-spells-prep-con-rit-ritual{{hidden_if_cantrip}}" value="@{ritual_var}"><span class="sheet-toggle-spells-prep-con-rit-ritual{{hidden_if_cantrip}}">
        <span class="sheet-en">ritual</span>
        <span class="sheet-de">rituale</span>
      </span>
      <input type="checkbox" name="attr_concentration" class="sheet-toggle-spells-prep-con-rit-concentration" value="@{concentration_var}"><span class="sheet-toggle-spells-prep-con-rit-concentration">
        <span class="sheet-en">concentration</span>
        <span class="sheet-de">konzentration</span>
      </span>
      <input type="checkbox" name="attr_components_verbal" class="sheet-toggle-spell-vsm-v" value="@{components_verbal_var}"><span class="sheet-toggle-spell-vsm-v">V</span>
      <input type="checkbox" name="attr_components_somatic" class="sheet-toggle-spell-vsm-s" value="@{components_somatic_var}"><span class="sheet-toggle-spell-vsm-s">S</span>
      <input type="hidden" name="attr_components_material_var" value="{{components_material=@{material_components}}}">
      <input type="checkbox" name="attr_components_material" class="sheet-toggle-spell-vsm-m" value="@{components_material_var}"><span class="sheet-toggle-spell-vsm-m">M</span>
      <input type="hidden" name="attr_casting_time_longer_var" value="@{casting_time_longer}">
      <input type="radio" name="attr_casting_time" class="sheet-toggle-casting-time-reaction" value="@{casting_time_reaction_var}"><span class="sheet-toggle-casting-time-reaction">reaction</span><input type="radio" name="attr_casting_time" class="sheet-toggle-casting-time-bonus" value="@{casting_time_bonus_var}"><span class="sheet-toggle-casting-time-bonus sheet-border-left">bonus</span><input type="radio" name="attr_casting_time" class="sheet-toggle-casting-time-action" value="@{casting_time_action_var}" checked><span class="sheet-toggle-casting-time-action sheet-border-left">action</span><input type="radio" name="attr_casting_time" class="sheet-toggle-casting-time-minute" value="@{casting_time_minute_var}"><span class="sheet-toggle-casting-time-minute sheet-border-left">1 min</span><input type="radio" name="attr_casting_time" class="sheet-toggle-casting-time-longer" value="@{casting_time_longer_var}"><span class="sheet-toggle-casting-time-longer sheet-border-left">longer</span>
      <div class="sheet-spells-toggle-spell sheet-inline">
        <div class="sheet-col sheet-relative sheet-toggle-casting-time-longer">
          <div class="sheet-casting-time-longer sheet-center sheet-vert-middle sheet-pad-l-sm">
            <input type="text" class="sheet-center" name="attr_casting_time_longer">
          </div>
        </div>
        <div class="sheet-col-07 sheet-center sheet-vert-middle sheet-pad-l-sm">
          <input type="text" class="sheet-center" name="attr_range">
          <div class="sheet-small-label">
            <span class="sheet-en">Range</span>
            <span class="sheet-de">Reichweite</span>
          </div>
        </div>
        <div class="sheet-col-10 sheet-center sheet-vert-middle sheet-pad-l-sm">
          <input type="text" class="sheet-center" name="attr_duration">
          <div class="sheet-small-label">
            <span class="sheet-en">Duration</span>
            <span class="sheet-de">Dauer</span>
          </div>
        </div>
        <div class="sheet-spell-button-group sheet-right">
          <div class="sheet-shaped-row">
            <div class="sheet-col sheet-center sheet-vert-middle">
              <button type="roll" name="roll_SpellInfo" value="@{output_option} &{template:5e} {{spell=1}} {{title=@{spell_name}}} @{concentration} @{ritual} {{spell_school=@{spell_school}}} {{character_name=@{character_name}}} @{show_character_name} {{spell_friendly_level={{level_num_readable}}}} {{casting_time=@{casting_time}}} {{duration=@{duration}}} {{target=@{target}}} {{aoe=@{aoe}}} {{range=@{range}}} @{components_verbal} @{components_somatic} @{components_material} {{description=@{description}}} {{higher_level_effects=@{higher_slot_effect}}} @{classactionspellinfo}">
                <span>Info</span>
              </button>
            </div>
            <div class="sheet-col sheet-center sheet-vert-middle">
              <button type="roll" name="roll_SpellCast" value="@{output_option} &{template:5e} {{spell=1}} {{title=@{spell_name}}} @{concentration} @{ritual} {{spell_school=@{spell_school}}} {{character_name=@{character_name}}} @{show_character_name} {{spell_friendly_level={{level_num_readable}}}} {{casting_time=@{casting_time}}} {{duration=@{duration}}} {{target=@{target}}} {{aoe=@{aoe}}} {{range=@{range}}} @{components_verbal} @{components_somatic} @{components_material} @{spell_toggle_description} {{higher_level_effects=@{higher_slot_effect}}} {{emote=@{spellemote}}} @{spell_toggle_attack} @{spell_toggle_attack_damage} @{spell_toggle_attack_second_damage} @{spell_toggle_save} @{spell_toggle_save_damage} @{spell_toggle_healing} {{effects=@{spelleffect}}} {{source=@{source}}} {{gained_from=@{gained_from}}} @{spell_toggle_output_higher_lvl_query} @{classactionspellcast}">
                <span>Cast</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="sheet-spells-toggle-spell sheet-spells-toggle-spell-details">
        <div class="sheet-shaped-row sheet-mar-b-md">
          <div class="sheet-col-11 sheet-center sheet-vert-middle sheet-pad-r-sm">
            <select name="attr_spell_school">
              <option value="@{spell_school_none}" selected>&#8212;</option>
              <option value="@{spell_school_abjuration}">Abjuration</option>
              <option value="@{spell_school_conjuration}">Conjuration</option>
              <option value="@{spell_school_divination}">Divination</option>
              <option value="@{spell_school_enchantment}">Enchantment</option>
              <option value="@{spell_school_evocation}">Evocation</option>
              <option value="@{spell_school_illusion}">Illusion</option>
              <option value="@{spell_school_necromancy}">Necromancy</option>
              <option value="@{spell_school_transmutation}">Transmutation</option>
            </select>
            <div class="sheet-small-label">
              <span class="sheet-en">School</span>
              <span class="sheet-de">Schule</span>
            </div>
          </div>
          <div class="sheet-col-20 sheet-center sheet-vert-middle sheet-pad-r-sm sheet-toggle-spell-vsm-m">
            <textarea class="sheet-center sheet-xs-textarea" name="attr_material_components"></textarea>
            <div class="sheet-small-label">
              <span class="sheet-en">Materials</span>
              <span class="sheet-de">Materialien</span>
            </div>
          </div>
          <div class="sheet-col-34 sheet-vert-middle sheet-pad-r-sm">
            <textarea class="sheet-center sheet-xs-textarea" name="attr_target"></textarea>
            <div class="sheet-center sheet-small-label">
              <span class="sheet-en">Target</span>
              <span class="sheet-de">Ziel</span>
            </div>
          </div>
          <div class="sheet-col-34 sheet-vert-middle sheet-pad-r-sm">
            <textarea class="sheet-center sheet-xs-textarea" name="attr_aoe"></textarea>
            <div class="sheet-center sheet-small-label">
              <span class="sheet-en">AoE</span>
              <span class="sheet-de">AoE</span>
            </div>
          </div>
        </div>

        <div class="sheet-shaped-row sheet-mar-t-md">
          <div class="sheet-col-81 sheet-center sheet-pad-r-sm">
            <textarea class="sheet-xs-textarea" name="attr_spellemote"></textarea>
            <div class="sheet-small-label">
              <span class="sheet-en">Spell Emote</span>
              <span class="sheet-de">Zauber Emote</span>
            </div>
          </div>
          <div class="sheet-col-13 sheet-center sheet-pad-r-sm" title="Use this field to indicate where you learned or have access to this spell from. Useful to know if multiclassing or if you gain access to spells your class would not normally have thanks to subclass bonuses">
            <input type="text" class="sheet-center" name="attr_gained_from">
            <div class="sheet-small-label">
              <span class="sheet-en">From</span>
              <span class="sheet-de">Von</span>
            </div>
          </div>
          <div class="sheet-col-06 sheet-vert-middle sheet-pad-l-sm">
            <input type="text" class="sheet-center" name="attr_source">
            <div class="sheet-center sheet-small-label">
              <span class="sheet-en">Source</span>
              <span class="sheet-de">Quelle</span>
            </div>
          </div>
        </div>

        <input type="hidden" name="attr_spell_var_description" value="{{description=@{description}}}">
        <input type="hidden" name="attr_spell_var_attack" value="{{attack=[[d20cs>@{spell_attack_crit_range}@{d20_mod} + @{spell_to_hit} + (@{global_spell_attack_bonus})]]}} {{attack_adv=[[d20cs>@{spell_attack_crit_range}@{d20_mod} + @{spell_to_hit} + (@{global_spell_attack_bonus})]]}} {{targetAC=@{attacks_vs_target_ac}}} {{targetName=@{attacks_vs_target_name}}}">
        <input type="hidden" name="attr_spell_var_attack_damage" value="{{damage=[[0d0 + @{spell_attack_dmg}[dmg] + @{spell_attack_dmg_total}[bonus dmg] + (@{global_spell_damage_bonus})[global spell dmg bonus] + ((@{spell_toggle_higher_lvl_query} - {{num}}) * @{spell_attack_higher_level_dmg_dice})@{spell_attack_higher_level_dmg_die}[higher lvl]]]}} {{damage_type=@{spell_attack_dmg_type}}} {{crit_damage=[[0d0 + @{spell_attack_dmg} + ((@{spell_toggle_higher_lvl_query} - {{num}}) * @{spell_attack_higher_level_dmg_dice})@{spell_attack_higher_level_dmg_die}[higher lvl]]]}}">
        <input type="hidden" name="attr_spell_var_attack_second_damage" value="{{second_damage=[[0d0 + @{spell_attack_second_dmg}[dmg] + @{spell_attack_second_dmg_total}[bonus dmg] + (@{global_spell_damage_bonus})[global spell dmg bonus] + ((@{spell_toggle_higher_lvl_query} - {{num}}) * @{spell_attack_second_higher_level_dmg_dice})@{spell_attack_second_higher_level_dmg_die}[higher lvl]]]}} {{second_damage_type=@{spell_attack_second_dmg_type}}} {{second_crit_damage=[[0d0 + @{spell_attack_second_dmg} + ((@{spell_toggle_higher_lvl_query} - {{num}}) * @{spell_attack_second_higher_level_dmg_dice})@{spell_attack_second_higher_level_dmg_die}[higher lvl]]]}}">
        <input type="hidden" name="attr_spell_var_save" value="{{save_dc=[[@{spell_save_dc_total}]]}} {{save_stat=@{save_stat}}} {{save_condition=@{save_condition}}} {{save_failure=@{savefailure}}} {{save_success=@{savesuccess}}} {{targetName=@{attacks_vs_target_name}}}">
        <input type="hidden" name="attr_spell_var_save_damage" value="{{save_damage=[[0d0 + @{spell_save_dmg}[dmg] + @{spell_save_dmg_total}[bonus dmg] + (@{global_spell_damage_bonus})[global spell dmg bonus] + ((@{spell_toggle_higher_lvl_query} - {{num}}) * @{spell_save_higher_level_dmg_dice})@{spell_save_higher_level_dmg_die}[higher lvl] ]]}} {{save_damage_type=@{spell_save_dmg_type}}}">
        <input type="hidden" name="attr_spell_var_save_second_damage" value="{{save_second_damage=[[0d0 + @{spell_save_second_dmg}[dmg] + @{spell_save_second_dmg_total}[bonus dmg] + (@{global_spell_damage_bonus})[global spell dmg bonus] + ((@{spell_toggle_higher_lvl_query} - {{num}}) * @{spell_save_second_higher_level_dmg_dice})@{spell_save_second_higher_level_dmg_die}[higher lvl] ]]}} {{save_second_damage_type=@{spell_save_second_dmg_type}}}">
        <input type="hidden" name="attr_spell_var_healing" value="{{heal=[[0d0 + @{heal_amount}[amount] + @{heal_stat_bonus}[stat bonus] + @{heal_bonus}[bonus] + (@{global_spell_heal_bonus})[global spell heal bonus] + ((@{spell_toggle_higher_lvl_query} - {{num}}) * @{heal_higher_level_amount}) + ((@{spell_toggle_higher_lvl_query} - {{num}}) * @{heal_higher_level_dmg_dice})@{heal_higher_level_dmg_die}[higher lvl] ]]}}">

        <input type="checkbox" name="attr_spell_toggle_description" class="sheet-toggle-description" value="@{spell_var_description}"><span class="sheet-toggle-description">
          <span class="sheet-en">Description</span>
          <span class="sheet-de">Beschreibung</span>
        </span>
        <input type="checkbox" name="attr_spell_toggle_higher_lvl_query" class="sheet-toggle-spell-higherlvl-query" value="@{spell_{{num}}_higher_level_query}"><span class="sheet-toggle-spell-higherlvl-query">
          <span class="sheet-en">Higher Lvl Query</span>
          <span class="sheet-de">Höheren Stufen Abfrage</span>
        </span>
        <input type="checkbox" name="attr_spell_toggle_output_higher_lvl_query" class="sheet-toggle-spell-output-higherlvl-query sheet-mar-t-md" value="@{spell_{{num}}_output_higher_lvl_query}"><span class="sheet-toggle-spell-output-higherlvl-query sheet-mar-t-md">
          <span class="sheet-en">Output</span>
          <span class="sheet-de">Ausgabe</span>
        </span>
        <input type="checkbox" name="attr_spell_toggle_attack" class="sheet-toggle-attack" value="@{spell_var_attack}"><span class="sheet-toggle-attack">
          <span class="sheet-en">Attack</span>
          <span class="sheet-de">Angriff</span>
        </span>
        <input type="checkbox" name="attr_spell_toggle_attack_damage" class="sheet-toggle-damage sheet-mar-t-md" value="@{spell_var_attack_damage}"><span class="sheet-toggle-damage sheet-mar-t-md">
          <span class="sheet-en">Dmg</span>
          <span class="sheet-de">Schad.</span>
        </span>

        <input type="checkbox" name="attr_spell_toggle_attack_second_damage" class="sheet-toggle-second-damage sheet-mar-t-lg" value="@{spell_var_attack_second_damage}"><span class="sheet-toggle-second-damage sheet-mar-t-lg">Secondary</span>
        <input type="checkbox" name="attr_spell_toggle_save" class="sheet-toggle-save" value="@{spell_var_save}"><span class="sheet-toggle-save">
          <span class="sheet-en">Save</span>
          <span class="sheet-de">Rettung</span>
        </span>
        <input type="checkbox" name="attr_spell_toggle_save_damage" class="sheet-toggle-sv-damage sheet-mar-t-md" value="@{spell_var_save_damage}"><span class="sheet-toggle-sv-damage sheet-mar-t-md">
          <span class="sheet-en">Dmg</span>
          <span class="sheet-de">Schad.</span>
        </span>
        <input type="checkbox" name="attr_spell_toggle_save_second_damage" class="sheet-toggle-sv-second-damage sheet-mar-t-lg" value="@{spell_var_save_second_damage}"><span class="sheet-toggle-sv-damage sheet-toggle-sv-second-damage sheet-mar-t-lg">Secondary</span>
        <input type="checkbox" name="attr_spell_toggle_healing" class="sheet-toggle-heal" value="@{spell_var_healing}"><span class="sheet-toggle-heal">
          <span class="sheet-en">Heal</span>
          <span class="sheet-de">Heilen</span>
        </span>

        <div class="sheet-shaped-row sheet-mar-b-md">
          <div class="sheet-col-2-3 sheet-toggle-description sheet-center sheet-pad-r-sm">
            <textarea class="sheet-small-textarea" name="attr_description"></textarea>
            <div class="sheet-small-label">
              <span class="sheet-en">Spell Description</span>
              <span class="sheet-de">Zauberbeschreibung</span>
            </div>
          </div>
        </div>

        <div class="sheet-center sheet-pad-l-sm">
          <textarea class="sheet-xs-textarea" name="attr_higher_slot_effect"></textarea>
          <div class="sheet-small-label">
            <span class="sheet-en">Higher Spell Slot</span>
            <span class="sheet-de">Höherer Zauberstufen</span>
          </div>
        </div>

        <div class="sheet-shaped-row sheet-mar-t-md">
          <div class="sheet-col-12 sheet-toggle-attack sheet-center sheet-vert-top sheet-pad-r-sm">
            <select name="attr_attack_stat">
              <option value="@{casting_stat}" selected>1st Casting Stat</option>
              <option value="@{second_casting_stat}">2nd Casting Stat</option>
              <option value="@{third_casting_stat}">3rd Casting Stat</option>
            </select>
            <div class="sheet-small-label">
              <span class="sheet-en">Atk Stat</span>
              <span class="sheet-de">Angriffsstatus</span>
            </div>
          </div>
          <div class="sheet-col-04 sheet-toggle-attack sheet-center sheet-vert-top sheet-pad-r-sm">
            <input class="sheet-center" type="number" name="attr_spell_attack_bonus" value="0">
            <div class="sheet-small-label">+Atk</div>
          </div>
          <div class="sheet-col-04 sheet-toggle-attack sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
            <input class="sheet-center" type="number" name="attr_spell_to_hit" value="@{PB} + @{attack_stat} + @{spell_attack_bonus}" disabled="disabled">
            <div class="sheet-small-label">To Hit</div>
          </div>
          <div class="sheet-col-08 sheet-toggle-attack sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
            <input class="sheet-center" type="text" name="attr_spell_attack_dmg" value="0">
            <div class="sheet-small-label">
              <span class="sheet-en">Dmg Dice</span>
              <span class="sheet-de">Schadenswürfel</span>
            </div>
          </div>
          <div class="sheet-col-07 sheet-toggle-attack sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-r-sm">
            <select name="attr_spell_attack_dmg_stat" class="sheet-select-no-arrow">
              <option value="0" selected>&#8212;</option>
              <option value="@{casting_stat}" selected>1st Casting Stat</option>
              <option value="@{second_casting_stat}">2nd Casting Stat</option>
              <option value="@{third_casting_stat}">3rd Casting Stat</option>
            </select>
            <div class="sheet-small-label">Dmg Stat</div>
          </div>
          <div class="sheet-col-04 sheet-toggle-attack sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-r-sm">
            <input class="sheet-center" type="number" name="attr_spell_attack_dmg_bonus" value="0">
            <div class="sheet-small-label">+Dmg</div>
          </div>
          <div class="sheet-col-04 sheet-toggle-attack sheet-toggle-damage sheet-center sheet-vert-top sheet-pad-r-sm">
            <input class="sheet-center" type="number" name="attr_spell_attack_dmg_total" value="@{spell_attack_dmg_stat} + @{spell_attack_dmg_bonus}" disabled="disabled">
            <div class="sheet-small-label">Dmg Mod</div>
          </div>
          <div class="sheet-col-11 sheet-toggle-attack sheet-toggle-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
            <input class="sheet-center" type="text" name="attr_spell_attack_dmg_type">
            <div class="sheet-small-label">
              <span class="sheet-en">Dmg Type</span>
              <span class="sheet-de">Schadensart</span>
            </div>
          </div>
          <div class="sheet-col-08 sheet-toggle-attack sheet-toggle-damage sheet-toggle-spell-higherlvl-query sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
            <input class="sheet-center" type="number" name="attr_spell_attack_higher_level_dmg_dice" value="0">
            <div class="sheet-small-label">Higher Lvl<br>Dmg Dice</div>
          </div>
          <div class="sheet-col-08 sheet-toggle-attack sheet-toggle-damage sheet-toggle-spell-higherlvl-query sheet-border-right sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
            <input class="sheet-center" type="text" name="attr_spell_attack_higher_level_dmg_die" value="d0">
            <div class="sheet-small-label">Higher Lvl<br>Dmg Die</div>
          </div>
          <div class="sheet-col-07 sheet-toggle-attack sheet-toggle-damage sheet-toggle-second-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-md">
            <input class="sheet-center" type="text" name="attr_spell_attack_second_dmg" value="0">
            <div class="sheet-small-label">2nd<br>
              <span class="sheet-en">Dmg Dice</span>
              <span class="sheet-de">Schadenswürfel</span>
            </div>
          </div>
          <div class="sheet-col-07 sheet-toggle-attack sheet-toggle-damage sheet-toggle-second-damage sheet-center sheet-vert-top sheet-pad-r-sm">
            <select name="attr_spell_attack_second_dmg_stat" class="sheet-select-no-arrow">
              <option value="0" selected>&#8212;</option>
              <option value="@{casting_stat}" selected>1st Casting Stat</option>
              <option value="@{second_casting_stat}">2nd Casting Stat</option>
              <option value="@{third_casting_stat}">3rd Casting Stat</option>
            </select>
            <div class="sheet-small-label">2nd<br>Dmg Stat</div>
          </div>
          <div class="sheet-col-04 sheet-toggle-attack sheet-toggle-damage sheet-toggle-second-damage sheet-center sheet-vert-top sheet-pad-r-sm">
            <input class="sheet-center" type="number" name="attr_spell_attack_second_dmg_bonus" value="0">
            <div class="sheet-small-label">2nd<br>+Dmg</div>
          </div>
          <div class="sheet-col-06 sheet-toggle-attack sheet-toggle-damage sheet-toggle-second-damage sheet-center sheet-vert-top sheet-pad-r-sm">
            <input class="sheet-center" type="number" name="attr_spell_attack_second_dmg_total" value="@{spell_attack_second_dmg_stat} + @{spell_attack_second_dmg_bonus}" disabled="disabled">
            <div class="sheet-small-label">2nd<br>Dmg Mod</div>
          </div>
          <div class="sheet-col-11 sheet-toggle-attack sheet-toggle-damage sheet-toggle-second-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
            <input class="sheet-center" type="text" name="attr_spell_attack_second_dmg_type">
            <div class="sheet-small-label">2nd<br>
              <span class="sheet-en">Dmg Type</span>
              <span class="sheet-de">Schadensart</span>
            </div>
          </div>
          <div class="sheet-col-08 sheet-toggle-attack sheet-toggle-damage sheet-toggle-second-damage sheet-toggle-spell-higherlvl-query sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
            <input class="sheet-center" type="number" name="attr_spell_attack_second_higher_level_dmg_dice" value="0" placeholder="1">
            <div class="sheet-small-label">2nd<br>Higher Lvl<br>Dmg Dice</div>
          </div>
          <div class="sheet-col-08 sheet-toggle-attack sheet-toggle-damage sheet-toggle-second-damage sheet-toggle-spell-higherlvl-query sheet-border-right sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
            <input class="sheet-center" type="text" name="attr_spell_attack_second_higher_level_dmg_die" value="0" placeholder="d6">
            <div class="sheet-small-label">2nd<br>Higher Lvl<br>Dmg Die</div>
          </div>
          <div class="sheet-col-05 sheet-toggle-attack sheet-toggle-damage sheet-toggle-crit sheet-center sheet-vert-top sheet-pad-l-sm">
            <input class="sheet-center" type="number" name="attr_spell_attack_crit_range" value="20" step="1" min="1" max="20">
            <div class="sheet-small-label">Crit Range</div>
          </div>
        </div>
        <div class="sheet-toggle-save sheet-mar-t-md">
          <div class="sheet-shaped-row sheet-mar-b-md">
            <div class="sheet-col-16 sheet-center sheet-vert-middle sheet-pad-r-sm sheet-border-right">
              <input type="text" class="sheet-center" name="attr_save_condition">
              <div class="sheet-small-label">
                <span class="sheet-en">Save Condition</span>
                <span class="sheet-de">Rettungszustand</span>
              </div>
            </div>
            <div class="sheet-col-07 sheet-center sheet-pad-r-sm">
              <select name="attr_save_stat">
                <option value="Str">Str</option>
                <option value="Dex">Dex</option>
                <option value="Con">Con</option>
                <option value="Int">Int</option>
                <option value="Wis">Wis</option>
                <option value="Cha">Cha</option>
              </select>
              <div class="sheet-small-label">
                <span class="sheet-en">Save Stat</span>
                <span class="sheet-de">Rettungsstatus</span>
              </div>
            </div>
            <div class="sheet-col-07 sheet-center sheet-pad-r-sm" title="Pick the class that the save DC will be created from or set your own DC by selecting custom here and then entering the DC in the next field">
              <select name="attr_save_dc">
                <option value="@{casting_stat}" selected>1st Casting Stat</option>
                <option value="@{second_casting_stat}">2nd Casting Stat</option>
                <option value="@{third_casting_stat}">3rd Casting Stat</option>
                <option value="0">Custom DC</option>
              </select>
              <div class="sheet-small-label">
                <span class="sheet-en">Save DC Stat</span>
                <span class="sheet-de">Rettungsstatus SG</span>
              </div>
            </div>
            <div class="sheet-col-04 sheet-center sheet-vert-top sheet-pad-r-sm">
              <input class="sheet-center" type="number" name="attr_save_dc_bonus" value="0">
              <div class="sheet-small-label">+DC</div>
            </div>
            <div class="sheet-col-06 sheet-center sheet-vert-top sheet-pad-r-sm">
              <input class="sheet-center" type="number" name="attr_spell_save_dc_total" value="@{save_dc}[dc] + @{save_dc_bonus}[bonus]" disabled="disabled">
              <div class="sheet-small-label">DC Total</div>
            </div>
          </div>
          <div class="sheet-shaped-row sheet-mar-b-md">
            <div class="sheet-col-70 sheet-center sheet-pad-r-sm">
              <textarea class="sheet-small-textarea" name="attr_savefailure"></textarea>
              <div class="sheet-small-label">
                <span class="sheet-en">On a failing save</span>
                <span class="sheet-de">Bei scheitern Rettungswurf</span>
              </div>
            </div>
            <div class="sheet-col-30 sheet-center">
              <textarea class="sheet-small-textarea" name="attr_savesuccess"></textarea>
              <div class="sheet-small-label">
                <span class="sheet-en">On a successful save</span>
                <span class="sheet-de">Bei erfolgreichen Rettungswurf</span>
              </div>
            </div>
          </div>
          <div class="sheet-shaped-row sheet-center sheet-mar-b-md">
            <div class="sheet-col-08 sheet-toggle-sv-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-md">
              <input class="sheet-center" type="text" name="attr_spell_save_dmg" value="0">
              <div class="sheet-small-label">
                <span class="sheet-en">Dmg Dice</span>
                <span class="sheet-de">Schadenswürfel</span>
              </div>
            </div>
            <div class="sheet-col-07 sheet-toggle-sv-damage sheet-center sheet-vert-top sheet-pad-r-sm">
              <select name="attr_spell_save_dmg_stat" class="sheet-select-no-arrow">
                <option value="0">&#8212;</option>
                <option value="@{casting_stat}" selected>1st Casting Stat</option>
                <option value="@{second_casting_stat}">2nd Casting Stat</option>
                <option value="@{third_casting_stat}">3rd Casting Stat</option>
              </select>
              <div class="sheet-small-label">Dmg Stat</div>
            </div>
            <div class="sheet-col-04 sheet-toggle-sv-damage sheet-center sheet-vert-top sheet-pad-r-sm">
              <input class="sheet-center" type="number" name="attr_spell_save_dmg_bonus" value="0">
              <div class="sheet-small-label">+Dmg</div>
            </div>
            <div class="sheet-col-04 sheet-toggle-sv-damage sheet-center sheet-vert-top sheet-pad-r-sm">
              <input class="sheet-center" type="number" name="attr_spell_save_dmg_total" value="@{spell_save_dmg_stat} + @{spell_save_dmg_bonus}" disabled="disabled">
              <div class="sheet-small-label">Dmg Mod</div>
            </div>
            <div class="sheet-col-11 sheet-toggle-sv-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
              <input class="sheet-center" type="text" name="attr_spell_save_dmg_type">
              <div class="sheet-small-label">
                <span class="sheet-en">Dmg Type</span>
                <span class="sheet-de">Schadensart</span>
              </div>
            </div>
            <div class="sheet-col-08 sheet-toggle-sv-damage sheet-toggle-spell-higherlvl-query sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
              <input class="sheet-center" type="number" name="attr_spell_save_higher_level_dmg_dice" value="0" placeholder="1">
              <div class="sheet-small-label">Higher Lvl<br>Dmg Dice</div>
            </div>
            <div class="sheet-col-08 sheet-toggle-sv-damage sheet-toggle-spell-higherlvl-query sheet-border-right sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
              <input class="sheet-center" type="text" name="attr_spell_save_higher_level_dmg_die" value="0" placeholder="d6">
              <div class="sheet-small-label">Higher Lvl<br>Dmg Die</div>
            </div>
            <div class="sheet-col-07 sheet-toggle-sv-damage sheet-toggle-sv-second-damage sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-md">
              <input class="sheet-center" type="text" name="attr_spell_save_second_dmg" value="0">
              <div class="sheet-small-label">2nd<br>
                <span class="sheet-en">Dmg Dice</span>
                <span class="sheet-de">Schadenswürfel</span>
              </div>
            </div>
            <div class="sheet-col-07 sheet-toggle-sv-damage sheet-toggle-sv-second-damage sheet-center sheet-vert-top sheet-pad-r-sm">
              <select name="attr_spell_save_second_dmg_stat" class="sheet-select-no-arrow">
                <option value="0">&#8212;</option>
                <option value="@{casting_stat}" selected>1st Casting Stat</option>
                <option value="@{second_casting_stat}">2nd Casting Stat</option>
                <option value="@{third_casting_stat}">3rd Casting Stat</option>
              </select>
              <div class="sheet-small-label">2nd<br>Dmg Stat</div>
            </div>
            <div class="sheet-col-04 sheet-toggle-sv-damage sheet-toggle-sv-second-damage sheet-center sheet-vert-top sheet-pad-r-sm">
              <input class="sheet-center" type="number" name="attr_spell_save_second_dmg_bonus" value="0">
              <div class="sheet-small-label">2nd<br>+Dmg</div>
            </div>
            <div class="sheet-col-04 sheet-toggle-sv-damage sheet-toggle-sv-second-damage sheet-center sheet-vert-top sheet-pad-r-sm">
              <input class="sheet-center" type="number" name="attr_spell_save_second_dmg_total" value="@{spell_save_second_dmg_stat} + @{spell_save_second_dmg_bonus}" disabled="disabled">
              <div class="sheet-small-label">2nd<br>Dmg Mod</div>
            </div>
            <div class="sheet-col-11 sheet-toggle-sv-damage sheet-toggle-sv-second-damage sheet-border-right sheet-center sheet-vert-top sheet-pad-r-sm">
              <input class="sheet-center" type="text" name="attr_spell_save_second_dmg_type">
              <div class="sheet-small-label">2nd<br>
                <span class="sheet-en">Dmg Type</span>
                <span class="sheet-de">Schadensart</span>
              </div>
            </div>
            <div class="sheet-col-08 sheet-toggle-sv-damage sheet-toggle-sv-second-damage sheet-toggle-spell-higherlvl-query sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
              <input class="sheet-center" type="number" name="attr_spell_save_second_higher_level_dmg_dice" value="0" placeholder="1">
              <div class="sheet-small-label">2nd<br>Higher Lvl<br>Dmg Dice</div>
            </div>
            <div class="sheet-col-08 sheet-toggle-sv-damage sheet-toggle-sv-second-damage sheet-toggle-spell-higherlvl-query sheet-center sheet-vert-top sheet-pad-l-sm">
              <input class="sheet-center" type="text" name="attr_spell_save_second_higher_level_dmg_die" value="0" placeholder="d6">
              <div class="sheet-small-label">2nd<br>Higher Lvl<br>Dmg Die</div>
            </div>
          </div>
        </div>
        <div class="sheet-toggle-heal sheet-shaped-row sheet-center sheet-mar-t-md">
          <div class="sheet-col-08 sheet-center sheet-pad-r-sm">
            <input type="text" class="sheet-center" name="attr_heal_amount" value="0">
            <div class="sheet-small-label">
              <span class="sheet-en">Heal amount</span>
              <span class="sheet-de">Heilmenge</span>
            </div>
          </div>
          <div class="sheet-col-08 sheet-center sheet-pad-r-sm">
            <input type="text" class="sheet-center" name="attr_heal_bonus" value="0">
            <div class="sheet-small-label">
              <span class="sheet-en">Heal Bonus</span>
              <span class="sheet-de">Heilbonus</span>
            </div>
          </div>
          <div class="sheet-col-07 sheet-center sheet-pad-r-sm">
            <select name="attr_heal_stat_bonus">
              <option value="0">&#8212;</option>
              <option value="@{casting_stat}" selected>1st Casting Stat</option>
              <option value="@{second_casting_stat}">2nd Casting Stat</option>
              <option value="@{third_casting_stat}">3rd Casting Stat</option>
            </select>
            <div class="sheet-small-label">
              <span class="sheet-en">Stat Bonus</span>
              <span class="sheet-de">Statibonus</span>
            </div>
          </div>
          <div class="sheet-col-08 sheet-toggle-spell-higherlvl-query sheet-border-left sheet-center sheet-vert-top sheet-pad-l-sm sheet-pad-r-sm">
            <input class="sheet-center" type="text" name="attr_heal_higher_level_amount" value="0">
            <div class="sheet-small-label">Higher Lvl<br>Heal Amount</div>
          </div>
          <div class="sheet-col-08 sheet-toggle-spell-higherlvl-query sheet-center sheet-vert-top sheet-pad-l-sm">
            <input class="sheet-center" type="number" name="attr_heal_higher_level_dmg_dice" value="0" placeholder="1">
            <div class="sheet-small-label">Higher Lvl<br>Heal Dice</div>
          </div>
          <div class="sheet-col-08 sheet-toggle-spell-higherlvl-query sheet-center sheet-vert-top sheet-pad-l-sm">
            <input class="sheet-center" type="text" name="attr_heal_higher_level_dmg_die" value="0" placeholder="d6">
            <div class="sheet-small-label">Higher Lvl<br>Heal Die</div>
          </div>
        </div>
        <div class="sheet-center sheet-mar-t-md">
          <textarea class="sheet-small-textarea" name="attr_spelleffect"></textarea>
          <div class="sheet-small-label">
            <span class="sheet-en">Spell Effects</span>
            <span class="sheet-de">Zaubereffekt</span>
          </div>
        </div>
        <div class="sheet-wrap-box-title sheet-center">
          <span class="sheet-en">{{level_num_readable}}</span>
          <span class="sheet-de">{{level_num_readable_de}}</span>
        </div>
      </div>
    </div>
  </fieldset>
</div>